* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

}

.header {
    background-color: #2B4074;
    min-height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu-list-title {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 5px;
}

/*slider start*/
.slider {
    position: relative;
    background-image: url("./img/bg-img.jpg");
    min-height: 668px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(33, 33, 33, 0.5);

}

.slider__menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}

.slider__title {
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    color: white;
    width: 630px;
    text-align: center;
    margin-bottom: 0;
    z-index: 5;
}

.slider__desp {
    font-size: 24px;
    line-height: 26px;
    width: 886px;
    color: white;
    text-align: center;
    margin-top: 18px;
    z-index: 5;
}

.slider__button {
    background: #2B4074;
    border-radius: 3px;
    font-size: 18px;
    line-height: 18px;
    padding: 18px 47px;
    border: none;
    color: #F9F6E5;
    z-index: 5;
    cursor: pointer;
}

.slider__button:hover {
    background: #ffffff;
    color: black;
}

.slider__button-slid {
    height: 70px;
    width: 70px;
    background-color: #2B4074;
    z-index: 5;
    position: absolute;
    top: calc(50% - 70px);
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    cursor: pointer;
}

.slider__button-slid:hover {
    right: 5px;
}

.slider__button-slid-white {
    background-color: #F9F6E5;
    z-index: 5;
    top: calc(50%);
    right: 0;
    position: absolute;
}

/*slider end*/

/*reference start*/
.container-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

.reference {
    background-color: #2B4074;
    min-height: 192px;
    display: flex;
    align-items: center;
}

.reference__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reference__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.reference__desp {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 0;
    width: 470px;
}

.reference__list-button {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #2B4074;
    border-radius: 3px;
    background: #F9F6E5;
    padding: 17px 15px;
    border: none;
    cursor: pointer;
}

.reference__list-button:hover {
    background: #9B9B9B;
    color: #FFFFFF;
}


/*reference end*/

/*service start*/
.service {
}

.service__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__table {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}

.service__img {
    border: 1px solid #F9F6E5;

    height: 268px;
    padding: 5px;
    cursor: pointer;
    width: 100%;
}

.service__img-border {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.service__img:hover .service__img-border::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #2B4074;
}

.service__title {
    font-size: 48px;
    line-height: 56px;
    color: #2B4074;

}

.service__desp {
    font-size: 24px;
    line-height: 26px;
    color: #4A4A4A;
}

.service__desp-text {
    font-size: 18px;
    line-height: 24px;
    color: #797979;
    max-width: 351px;
}

.service__span {
    width: 98px;
    min-height: 8px;
    background-color: #2B4074;
}

.service__table-button {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    color: #2B4074;
    font-size: 16px;
    line-height: 19px;
}

.service__img-title-desp {
    color: #9B9B9B;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    max-width: 196px;
}

.service__img-title {
    text-align: center;
    opacity: 0;
    transition: 1s;
}

.service__img:hover .service__img-title {
    opacity: 1;
    transition: 1s;
}

.service__text-desp {
    display: flex;
    flex-direction: column;
}

/*service end*/

/*projects start*/
.projects {
    min-height: 618px;
    background: linear-gradient(183deg, #2B4074 0%, rgba(43, 64, 116, 0) 108%);
}

.projects__title {
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
}

.projects__span {
    max-width: 100px;
    min-height: 8px;
    background-color: white;
    margin: 0 auto;
}

.projects__list-title {
    margin-bottom: 80px;
}

.projects__list {
    padding-top: 69px;
}

.projects__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.projects__item-desp {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    color: #2B4074;
}

.projects__item-relet {
    position: relative;
}

.service__img-item {
    width: 100%;
    height: 100%;
}

.projects__img-shadow {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: #F9F6E5;
    top: 10px;
    left: 10px;
    opacity: 0.8;
    display: none;

    cursor: pointer;
}

.projects__item-list-href {
    position: absolute;
    z-index: 5;
    top: calc(50% - 14px);
    left: calc(50% - 28px);
    display: none;

}

.projects__item-relet:hover .projects__img-shadow {
    display: block;

}

.projects__item-relet:hover .projects__item-list-href {
    display: block;

}

/*projects end*/

/*command start*/
.command {
    margin-top: 61px;
    margin-bottom: 120px;
}

.command__list {
    display: flex;
    justify-content: space-between;

}

.command__list-title {
    font-size: 48px;
    line-height: 56px;
    color: #4A4A4A;
    margin-top: 0;
}

.command__list-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.command__list-desp {
    font-size: 18px;
    line-height: 24px;
    max-width: 584px;
    color: #9B9B9B;
}

.command__list-button {
    background: #2B4074;
    border-radius: 3px;
    font-size: 18px;
    line-height: 18px;
    color: #F9F6E5;
    padding: 21px 35px;
    border: none;
    cursor: pointer;
}
.command__list-button:hover {
    background: #1c2b4c;
    color: #FFFFFF;
}
.command__list-span {
    max-width: 113px;
    min-height: 8px;
    background: #2B4074;
}

.command__img {
    height: 100%;
}

.news__img {
    position: relative;
}

/*command end*/

/*news start*/
.news {
    margin-top: 20px;
    min-height: 1044px;
    background-color: #F9F6E5;
    padding-top: 52px;
}

.news__title {
    font-size: 48px;
    line-height: 56px;
    color: #4A4A4A;
    text-align: center;

}

.news__list-title {
    margin-bottom: 80px;
}

.news__span {
    max-width: 100px;
    min-height: 8px;
    background-color: #2B4074;
    margin: 0 auto;
}

.news__img {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.news__desp {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #4A4A4A;
    padding: 10px 20px;
    background-color: #FFFFFF;
    margin: 0;
    font-weight: bold;
    transition: 1s;
}

.news__img-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 880px;
    margin-left: -15px;
    margin-right: -15px;
}

.news__list {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    position: relative;
}

.news_img-text {
    opacity: 1;
    z-index: 2;
    transition: 1s;

}

.news_img-text-abs {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    transition: 1s;

}

.news__list:hover .news_img-text {
    opacity: 0;
}

.news__list:hover .news_img-text-abs {
    opacity: 1;
    bottom: 80px;
    transition: 1s;
}

.news__list:hover .news__desp {
    background-color: #2B4074;
    color: #FFFFFF;
    transition: 1s;
}

.news__img-info {
    opacity: 0;
    position: absolute;
    background: linear-gradient(180deg, #2B4074 0%, rgba(255, 255, 255, 0) 100%);
    border: 10px solid #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.news__list:hover .news__img-info {
    opacity: 1;
    border: 10px solid #2B4074;
    transition: 1s;
}

.news__img-title {
    position: relative;
}

.news__img-info-title {
    width: 100%;
    height: min-content;
}

/*news end*/

/*speech start*/
.speech {
    padding-top: 100px;
    padding-bottom: 170px;
}

.speech__img {
    display: flex;
    justify-content: center;
}

.speech__desp {
    font-size: 36px;
    line-height: 42px;
    color: #4A4A4A;
    text-align: center;
}

.speech__title {
    font-size: 24px;
    line-height: 28px;
    color: #4A4A4A;
    text-align: center;
}

.speech__strong {
    color: #2B4074;
}

/*speech end*/

/*footer start*/
.footer {
    min-height: 640px;
    background: #2B4074;
    padding-bottom: 80px;
}

.footer__list-logo {
    position: relative;
}

.footer__logo {
    min-width: 230px;
    min-height: 60px;
    background-color: #2B4074;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 3px;
    position: absolute;
    top: -30px;
    left: calc(50% - 115px);
}

.footer__title-desp {
    padding-top: 161px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.footer__list-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer__href {
    display: flex;
    justify-content: center;
    border: 1px solid #7EBF84;
    border-right-width: 0;
    padding: 20px 0;
    margin: 110px 0 80px 0;
    cursor: pointer;
}

.footer__href:hover {
    background: #7EBF84;
    border-right-width: 1px;
}

.footer__href:first-child:hover {
    border-left-width: 1px;
}

.footer__href:first-child {
    border-left-width: 0;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0;
}
.footer__list-href {
    text-decoration: none;
    color: #FFFFFF;
}

.footer__menu-title {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #F9F6E5;
    margin-bottom: 22px;
}

.footer__list-title {
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.footer__href-top {
    background: #F9F6E5;
    min-height: 42px;
    display: flex;
    align-items: center;
}

.footer__top {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #4A4A4A;
}

.footer__href-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer__top-href {
    margin-left: 10px;
}

/*footer end*/
@media screen and (max-width: 1350px) {
    .container {
        padding: 0 50px;
    }

    .service__menu {
        display: block;
    }

}

@media screen and (max-width: 1175px) {
    .container-wrapper {
        padding: 0 40px;
    }

    .service__title {
        text-align: center;
    }

    .service__menu-text {
        margin-left: 46px;
    }

    .service__title {
        text-align: center;
    }

    .command__list-text {
        margin-left: 60px;
    }

    .news__img-list {
        max-height: 1160px;
    }

}

@media screen and (max-width: 1025px) {
    .slider__title {
        font-size: 84px;
        line-height: 84px;
        width: 630px;
    }

    .service__menu {
        display: block;
    }

    .slider__desp {
        font-size: 18px;
        line-height: 20px;
        width: 600px;
    }

    .slider {
        min-height: 618px;
    }

    .reference__desp {
        font-size: 14px;
        line-height: 16px;
    }

    .reference__title {
        font-size: 18px;
        line-height: 18px;
    }


    .service__title {
        text-align: center;
    }

    .service__menu-text {
        margin-left: 46px;
    }

    .service__title {
        text-align: center;
    }

    .service__desp-text {
        max-width: 502px;
    }

    .projects__item {
        grid-template-columns: repeat(2, 1fr);
    }

    .command__list-img {
        max-width: 400px;
        min-height: 360px;
    }

    .command__img {
        max-width: 400px;
        max-height: 360px;
    }

    .command__list-desp {
        line-height: 22px;
    }
}

@media screen and (max-width: 980px) {
    .container {
        padding: 0 30px;
    }

    .service__table {
        grid-template-columns: repeat(3, 1fr);
    }

    .command__list-text {

    }

    .command__list-desp {
        font-size: 18px;
        line-height: 18px;
    }

    .command__list-title {
        line-height: 34px;
    }

}

@media screen and (max-width: 950px) {
    .news__img-list {
        max-height: 1574px;
    }
}

@media screen and (max-width: 875px) {
    .command__list-text {
        margin-left: 40px;
    }

    .command__list-img {
        max-width: 370px;
        min-height: 350px;
    }

    .command__img {
        max-width: 370px;
        max-height: 350px;
    }

    .command__list-desp {
        font-size: 17px;
        line-height: 18px;
    }

    .command__list-title {
        line-height: 34px;
        margin-bottom: 10px;
        font-size: 40px;
    }

    .speech {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

@media screen and (max-width: 769px) {
    .slider__title {
        font-size: 60px;
        line-height: 60px;
        width: 630px;
    }

    .slider {
        min-height: 465px;
    }

    .reference__desp {
        font-size: 16px;
        line-height: 18px;
        max-width: 427px;
    }

    .reference__title {
        font-size: 24px;
        line-height: 24px;
    }

    .reference__list-button {
        font-size: 16px;
        line-height: 16px;
    }

    .service__table {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects {
        padding: 80px 54px;
    }

    .command__img {
        max-width: 240px;
        max-height: 227px;
    }

    .command__list-img {
        max-width: 240px;
        min-height: 227px;
    }

    .command__list-desp {
        font-size: 18px;
        text-align: left;
        line-height: 23px;
    }

    .command {
        position: relative;
    }

    .command__button {
        position: absolute;
        bottom: -71px;
        right: calc(50% - 117px);
    }

    .news__img-list {
        max-height: 1573px;
    }

    .news__img-list {
        max-height: 1577px;
    }

    .footer__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        padding: 0 45px 80px 45px;
    }
}

@media screen and (max-width: 712px) {
    .slider__desp {
        display: none;
    }

    .slider {
        min-height: 385px;
    }

    .reference__desp {
        font-size: 16px;
        line-height: 18px;
    }

    .reference__list-text {
        max-width: 370px;
    }

    .slider__title {
        font-size: 60px;
        line-height: 60px;
        width: 630px;
        margin-bottom: 30px;
    }

    .service__menu-text {
        margin: 0;
    }

}

@media screen and (max-width: 655px) {
    .reference__list-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .reference__list {
        flex-direction: column;
    }

    .reference__desp {
        max-width: 580px;
        margin-bottom: 40px;
    }

    .reference__list-button {
        margin-bottom: 40px;
    }

    .service__desp {
        text-align: center;
    }

    .service__span {
        margin: 0 auto;
    }

    .service__desp-text {
        text-align: center;
    }

    .projects__item {
        grid-template-columns: repeat(1, 1fr);
    }

    .command__list {
        display: block;
    }

    .command__list-span {
        min-width: 113px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .command__list-title {
        text-align: center;
        font-size: 34px;
        line-height: 35px;;
        margin-bottom: 20px;
    }

    .command__list-desp {
        margin-bottom: 56px;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
    }

    .command__img {
        max-width: 518px;
        max-height: 490px;
    }

    .command__list-img {
        max-width: 518px;
        min-height: 490px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .command__button {
        margin: 0 auto;
        position: relative;
        bottom: 0;
        right: auto;
    }

    .command__list-text {
        margin-left: 0;
    }

    .command {
        padding: 0 60px;
    }

    .container-wrapper {
        padding: 0;
    }

    .news__img-list {
        margin: 0;
        max-height: 3112px;
    }

    .speech {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .footer {
        padding: 0 36px 80px 36px;
    }
}

@media screen and (max-width: 542px) {
    .slider__button-slid {
        display: none;
    }

    .service__table {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects__title {
        max-width: 340px;
    }

    .projects__title {
        font-size: 27px;
    }

    .command__img {
        max-width: 350px;
        min-height: 320px;
        max-height: 320px;
    }

    .command__list-img {
        max-width: 350px;
        min-height: 320px;
        margin-bottom: 40px;
    }

    .command__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .speech__list {
        padding: 0 25px;
    }

    .speech__desp {
        font-size: 30px;
        line-height: 35px;
    }
}

@media screen and (max-width: 420px) {
    .slider__title {
        font-size: 40px;
        line-height: 40px;
        width: 320px;
        margin-bottom: 30px;
    }

    .reference__title {
        max-width: 274px;
    }

    .reference__desp {
        max-width: 280px;
    }

    .container-wrapper {
        padding: 0;
    }

    .projects__title {
        font-size: 27px;
    }

    .command__img {
        max-width: 300px;
        min-height: 290px;
        max-height: 290px;
    }

    .command__list-img {
        max-width: 300px;
        min-height: 290px;
        margin-bottom: 40px;
    }

    .speech {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .speech__desp {
        font-size: 28px;
        line-height: 26px;
    }

    .footer__title-desp {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
    }

    .footer__href {
        margin: 0;
        border: none;
    }

    .footer__list-item {
        display: block;
    }

    .footer__menu {
        display: block;
        text-align: center;
    }

    .footer__list-title {
        font-size: 16px;
        line-height: 20px;
    }

    .footer__menu-title {
        margin-top: 35px;
    }

    .footer__href-item {
        display: block;
        text-align: center;
    }

    .footer__href-top {
        min-height: 140px;
    }

    .footer__top {
        margin-bottom: 20px;
    }

    .footer__top-href {
        margin-left: 0;
    }
}

@media screen and (max-width: 322px) {
    .slider__title {
        font-size: 28px;
        line-height: 28px;
        width: 320px;
        margin-bottom: 30px;
    }

    .slider__button {
        display: none;
    }

    .slider__button-slid {
        display: none;
    }

    .slider {
        min-height: 192px;
    }

    .reference__title {
        max-width: 273px;
    }

    .service__text-desp {
        flex-direction: column-reverse;
        display: flex;
    }

    .service__title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .service__desp {
        font-size: 20px;
        line-height: 24px;
    }

    .service__desp-text {
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 40px;
    }

    .container-wrapper {
        padding: 0;
    }

    .projects__title {
        font-size: 24px;
        line-height: 28px;
    }

    .command__img {
        max-width: 280px;
        min-height: 250px;
        max-height: 250px;
    }

    .command__list-img {
        max-width: 280px;
        min-height: 250px;
        margin-bottom: 40px;
    }

    .command__list-title {
        font-size: 24px;
        line-height: 38px;
    }

    .command__list-span {
        max-width: 45px;
        min-width: 45px;
        min-height: 8px;
        margin-bottom: 20px;
    }

    .command__list-button {
        font-size: 13px;
        line-height: 17px;
    }

    .speech {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .speech__desp {
        font-size: 24px;
        line-height: 26px;
    }

    .footer__list-item {
        display: block;
    }

    .footer__menu {
        display: block;
        text-align: center;
    }

    .footer__list-title {
        font-size: 16px;
        line-height: 20px;
    }
}

/*.container {
    max-width: 968px;
    margin: 0 auto;
    width: 100%;
}
.container-wrapper {
    max-width: 990px;
    margin: 0 auto;
    width: 100%;
}
.service__menu{
    display: block;
}
.command__list-img{
    margin-right: 60px;
}
.news__img-list{
    max-height: 1200px;
}
.projects {
    padding: 80px 170px;
}
.projects__item {
    grid-template-columns: repeat(2, 1fr);
}*/
